<style>
    body {
        
        padding-top: 3.5rem;
        

    }

    h1 {
        color:black;
        text-align:center;
    }

    .col-md-2 {
        style="background-color: lightgrey; border-style:solid;"
    }
    .sectionTitle {
        background-color: red;
    }

</style>